<template>
    <div class="onComponentLoad">

        <div class="panel-title-wrap mt-3">
            Business Charts
        </div>
        <b-row>
            <b-col class="chart-title">Expenses Fixed vs Variable</b-col>
            <b-col class="chart-title">Income Vs Expense</b-col>
            <b-col class="chart-title">Expnses By Category</b-col>
        </b-row>
        <b-row>
            <b-col style="height:400px">
                <line-chart v-if="Object.keys(busChartsData.expenses_stat_data).length" class="onComponentLoad" :chart-data="busChartsData.expenses_stat_data" :options="lineChartOptions"></line-chart>
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
            <b-col style="height:400px">
                <line-chart v-if="Object.keys(busChartsData.income_vs_exp_data).length" class="onComponentLoad" :chart-data="busChartsData.income_vs_exp_data" :options="lineChartOptions"></line-chart>
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
            <b-col style="height:400px">
                <bar-chart v-if="Object.keys(busChartsData.expense_by_type).length" class="onComponentLoad" :chart-data="busChartsData.expense_by_type" :options="stackedBarsOptions" />
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
        </b-row>

        <div class="panel-title-wrap mt-5">
            Personal Charts
        </div>
        <b-row>
            <b-col style="height:400px">
                <line-chart v-if="Object.keys(persChartsData.expenses_stat_data).length" class="onComponentLoad" :chart-data="persChartsData.expenses_stat_data" :options="lineChartOptions"></line-chart>
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
            <b-col style="height:400px">
                <line-chart v-if="Object.keys(persChartsData.income_vs_exp_data).length" class="onComponentLoad" :chart-data="persChartsData.income_vs_exp_data" :options="lineChartOptions"></line-chart>
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
            <b-col style="height:400px">
                <bar-chart v-if="Object.keys(persChartsData.expense_by_type).length" class="onComponentLoad" :chart-data="persChartsData.expense_by_type" :options="stackedBarsOptions"/>
                <div v-else class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            </b-col>
        </b-row>
        
    </div>
</template>

<script>

import store from "@/store";
import LineChart from '@/components/charts/lineChart';
import BarChart from '@/components/charts/barChart';
import formatting from '@/mixins/formatting';

const display_number = function(number, prefix, postfix, useGrouping) {
    if (typeof prefix == 'undefined') prefix = '';
    if (typeof postfix == 'undefined') postfix = '';
    if (typeof useGrouping == 'undefined') useGrouping = true;
    number = number * 1;
    return prefix + number.toLocaleString(undefined, {
        useGrouping: useGrouping,
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
    }, ) + postfix;
}

export default {
    components: { LineChart, BarChart },
    mixins: [ formatting ],
    data() {
        return {
            busChartsData: {
                expenses_stat_data: {},
                income_vs_exp_data: {},
                expense_by_type: {}
            },
            persChartsData: {
                expenses_stat_data: {},
                income_vs_exp_data: {},
                expense_by_type: {}
            },
            lineChartOptions: { 
                legend: { display: true },
                animation: { duration: 1500 },
                maintainAspectRatio: false,
                scales: {
                    yAxes:[{
                        stacked: true,
                        gridLines: { display:true },
                        ticks: { beginAtZero: true },
                    }],
                    xAxes:[{ gridLines: { display:false } }]
                },
                tooltips: {
                    mode: 'label',
                    position: 'nearest',
                    callbacks: {
                        label: function(tooltipItem, data) {
                            if (tooltipItem.yLabel > 0) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + display_number( tooltipItem.yLabel ,'$' );
                            }
                        }
                    }
	            }
            },
            stackedBarsOptions: {
                legend: { display: false },
                animation: { duration: 1500 },
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                        gridLines: { display: false },
                    }],
                    yAxes: [{ stacked: true, beginAtZero: true }],
                },
                tooltips: {
                    mode: 'label',
                    position: 'nearest',
                    callbacks: {
                        label: function(tooltipItem, data) {
                            if (tooltipItem.yLabel > 0) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + display_number( tooltipItem.yLabel ,'$' );
                            }
                        }
                    }
	            }
            },
        }
    },
    mounted() {

        axios.post('/d/dashboard/expenses_stat', { otype: 'business' })
        .then((res) => this.busChartsData.expenses_stat_data = res.data )

        axios.post('/d/dashboard/income_vs_exp', { otype: 'business' })
        .then((res) => this.busChartsData.income_vs_exp_data = res.data )

        axios.post('/d/dashboard/expense_by_type', { otype: 'business' })
        .then((res) => this.busChartsData.expense_by_type = res.data )


        axios.post('/d/dashboard/expenses_stat', { otype: 'personal' })
        .then((res) => this.persChartsData.expenses_stat_data = res.data )

        axios.post('/d/dashboard/income_vs_exp', { otype: 'personal' })
        .then((res) => this.persChartsData.income_vs_exp_data = res.data )

        axios.post('/d/dashboard/expense_by_type', { otype: 'personal' })
        .then((res) => this.persChartsData.expense_by_type = res.data )


    }
}
</script>

<style scoped>
.chart-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}
</style>