<template>
<div>
    <div class="d-flex">
        <div class="w-50">
            <textarea 
            class="form-control input-field" 
            placeholder="Notes"
            v-model="newValue"
            @keyup="emitInput"
            @change="emitInput"
            :disabled="disabled"
            />
        </div>
        <div class="w-50 pl-2 position-relative">
            <div v-show="loader" class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <div v-for="(item,key) in list" :key="key" class="note-wrap">
                <div class="note-author p-1 pl-2 bg-light">{{ item.user_name }} - {{ dateFormat(item.created_at) }}:</div>
                    <div class="note-detail p-1" v-html="item.html_text"></div>
            </div>
        </div>
    </div>
    
</div>    
</template>

<script>

import field from '@/mixins/field';
import formatting from '@/mixins/formatting'

export default {
    props: ['value','slug','hash','name'],
    mixins: [formatting],
    data() {
        return {
            loader: false,
            disabled: false,
            newValue: '',
            list: []
        }
    },
    watch: {
        value(val) {
            this.newValue = val;
        }
    },
    methods: {
        load() {
            this.loader = true;
            axios.post('/d/notes/list', 
                { 
                    form_hash: this.hash, 
                    field_name: this.name, 
                    slug: this.slug 
                })
                .then((res) => {
                   this.list = res.data
                   this.loader = false;
                })
        },
        emitInput() {
            this.$emit('input', this.newValue )
        }
    },
    mounted() {
        this.load();
    }
}
</script>

<style scoped>
.input-field {
    height: 100px;
}
.note-detail {
    -webkit-transition: max-height 0.7s; 
    -moz-transition: max-height 0.7s; 
    -ms-transition: max-height 0.7s; 
    -o-transition: max-height 0.7s; 
    transition: max-height 0.7s;  
    background: #e5feff;
    overflow: hidden;
    max-height: 60px;
    overflow: hidden;
}
.note-wrap:hover .note-detail {
    max-height: 157px;
    overflow: auto;
}
</style>