<template>
<div>
    <f-set :id="rowData.hash" :value="value" @input="fileUploaded" @file-removed="removeFile" :data="fieldData"/>
</div>
</template>


<script>

import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [ fieldBuilder ],
    props: ['rowData'],
    data() {
        return {
            value:      this.rowData.files.length ? [ { hash: this.rowData.files[0].hash, name: this.rowData.files[0].file_name } ] : [],
            fieldData:  this.makeField({ type: 'file', name: 'file_' + this.rowData.hash, label: false, confirm_on_delete: true, max_files: 1 }),
        } 
    },
    watch: {
        'rowData.timestamp': function(val) { 
            this.value = this.rowData.files.length ? [ { hash: this.rowData.files[0].hash, name: this.rowData.files[0].file_name } ] : [];
        }
    },
    computed: {
        c_value() {
            return this.rowData.files.length ? [ { hash: this.rowData.files[0].hash, name: this.rowData.files[0].file_name } ] : [];
        },
        c_existing_value() {
            return this.rowData.files.length ? this.rowData.files[0].hash : false;
        },
    },
    methods: {
        fileUploaded(hash) {
            if (hash.length && hash[0] != this.c_existing_value) { // this is needed to avoid triggering file upload on table load
                axios.post('/d/transactions/save_file_by_hash', {
                    receipt: hash[0],
                    hash: this.rowData.hash
                })
                .then((res) => {
                    this.$utils.c_notify(res.data.res, res.data.status);
                })
            }
        },
        removeFile(obj) {
            axios.post('file-delete', { hash: obj.hash })
            .then((res) => {
                this.$utils.c_notify(res.data.res, res.data.status);
            })
        }
    }
}
</script>