<template>
<div>
    <div v-if="show == 'text'" @click="openEdit" class="pointer pt-2" style="min-height:44px;">{{ text }}</div>    
    <div v-else v-on-clickaway="saveChange" class="pt-2">
        <f-set ref="selectField" v-model="text" :data="fieldData"/>
    </div>
</div>
</template>

<script>

import fieldBuilder from '@/mixins/fieldBuilder'
import { mixin as clickaway } from 'vue-clickaway';

export default {
    mixins: [ fieldBuilder, clickaway ],
    props: ['rowData'],
    data() {
        return {
            show:       'text',
            lastSaved:  this.rowData.notes,
            text:       this.rowData.notes,
            fieldData:  this.makeField({ name: 'notes', label: false }),
        } 
    },
    watch: {
        rowDataChanged() { 
            this.show    = 'text';
            this.text    = this.rowData.notes;
        }
    },
    computed: {
        rowDataChanged() {
            return this.rowData;
        }
    },
    methods: {
        showText() {
            this.show = 'text';
        },
        saveChange() {
            this.showText()
            if (this.text != this.lastSaved && !(this.text == '' && this.lastSaved == null)) {
                axios.post('/d/transactions/update_notes',{
                    hash: this.rowData.hash,
                    notes: this.text
                })
                .then((res) => {
                    this.lastSaved = this.text
                    this.$utils.c_notify(res.data.res, res.data.status);
                })
            }
            
        },
        openEdit() {
            this.show = 'field';

            this.$nextTick(() => {
                var el = this.$refs.selectField.$el.querySelector('input')
                el.focus();
            }) 
        }
    }
}
</script>