<template>
<div>
    <div v-if="show == 'text'" @click="showDropDown" class="pointer" :class="{'badge badge-warning': !catText }">{{ c_catText }}</div>    
    <div v-else>
        <f-set ref="selectField" @close="onClose" v-model="selection" @change="selectionChanged" :data="fieldData"/>
    </div>
</div>
</template>

<script>

import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [ fieldBuilder ],
    props: ['rowData'],
    data() {
        return {
            show:       'text',
            catText:    this.rowData.transactions_categories_name,
            selection:  this.rowData.transactions_categories_id,
            fieldData:  this.makeField({ name: 'transactions_categories_id', label: false, type: 'select', ajax: '/d/trans-categories/list' }),
        } 
    },
    watch: {
        rowDataChanged() { 
            this.show       = 'text';
            this.catText    = this.rowData.transactions_categories_name;
            this.selection  = this.rowData.transactions_categories_id;
        }
    },
    computed: {
        c_catText() {
            return this.catText ? this.catText : 'Selection required'
        },
        rowDataChanged() {
            return this.rowData;
        }
    },
    methods: {
        selectionChanged(val) {
            this.catText = val.label
            axios.post('/d/transactions/update_category',{
                hash: this.rowData.hash,
                cat_id: val.code
            })
            .then((res) => {
                this.$utils.c_notify(res.data.res, res.data.status);
            })
        },
        onClose() {
            this.show = 'text';
        },
        showDropDown() {

            this.show = 'dropdown';

            this.$nextTick(() => {
                var el = this.$refs.selectField.$el.querySelector('input')
                el.focus();
            })                
            
        }
    }
}
</script>