<template>
<div>
    <f-set :id="rowData.hash" v-model="value" @input="update" :data="fieldData"/>
</div>
</template>


<script>

import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [ fieldBuilder ],
    props: ['rowData'],
    data() {
        return {
            value:      this.rowData.attention,
            fieldData:  this.makeField({ name: 'attention_' + this.rowData.hash, label: false, type: 'echeck' }),
        } 
    },
    watch: {
        'rowData.timestamp': function(val) {
            this.value = this.rowData.attention;
        }
    },
    methods: {
        update() {
            axios.post('/d/transactions/update_attention',{
                hash: this.rowData.hash,
                attention: this.value
            })
            .then((res) => {
                this.$utils.c_notify(res.data.res, res.data.status);
                this.$parent.$parent.onVTRefresh()
            })
        }
    }
}
</script>