<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex justify-content-between">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div>
                <b-button variant="outline-primary" @click="tableAeItem(mainTableRef)"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"> Add</span></b-button>
                <b-button variant="outline-primary" @click="tableRefresh(mainTableRef)"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"> Refresh</span></b-button>
            </div>
        </b-row>
    </b-container>

    <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import { mapGetters } from 'vuex';

export default {
    mixins: [ table, formatting ],
    data() {
        return {
            pageTitle: 'Taxes',
            pageClass: 'taxes-index',
            mainTableRef: 'taxesIndex',
            vTablesConfigs: {
                taxesIndex: this.makeTable({
                    url: '/taxes',
                    ref: 'taxesIndex',
                    formComponentName: 'taxesForm',
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: 'name', title: 'Name', sortField: 'name',  titleClass: 'w-200-px' },
                        { name: 'percent', title: 'Percent', sortField: 'percent', callback: this.percentFormat },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'name', direction: 'asc' }],
                })
            }
        }
    }
}
</script>

<style>
</style>
