<?php
<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex justify-content-between">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div>
                <btn variant="outline-primary" @click="tableAeItem(mainTableRef)"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"> Add</span></btn>
                <btn variant="outline-primary" @click="tableRefresh(mainTableRef)"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"> Refresh</span></btn>
            </div>
        </b-row>
    </b-container>

    <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import { mapGetters } from 'vuex';

export default {
    mixins: [ table, formatting ],
    data() {
        return {
            pageTitle: 'Leads',
            pageClass: 'leadsclients-index',
            mainTableRef: 'leadsclientsIndex',
            vTablesConfigs: {
                leadsclientsIndex: {
                    url: '/leadsclients',
                    ref: 'leadsclientsIndex',
                    formComponentName: 'leadsclientsForm',
                    showFilters: false,
                    checkboxes: [],
                    filters: {
                      
                    },
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'name', direction: 'asc' }],
                    perPage: 10,
                    resData: []
                }
            }
        }
    }
}
</script>

<style>
</style>
