<template>
<div :class="wrapperClasses" class="onComponentLoad component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap d-flex">
            <div class="flex-grow-1">
                {{ addEditWord }} {{ pageTitle }}
            </div>
            <div class="panel-btns">
                <btn type="submit" variant="outline-success" title="Save"><i class="fal fa-save"></i></btn>
                <btn variant="outline-success" @click="saveForm(true)" title="Save &amp; Close"><i class="fal fa-share-square"></i></btn>
                <btn variant="outline-success" @click="saveForm(false,'resetFormValues')" title="Save &amp; Add New"><i class="fal fa-layer-plus"></i></btn>
                <btn variant="outline-primary" @click="closePanel" title="Close"><i class="fal fa-times"></i></btn>
            </div>
        </div>
        
        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <b-container v-if='formReady'>
                <b-row>
                    <b-col cols="3">
                        <f-set v-model="forms.main.values.name" :data="forms.main.fields.name"/>
                    </b-col>
                    <b-col cols="3">
                        <f-set v-model="forms.main.values.transactions_categories_id" :data="forms.main.fields.transactions_categories_id"/>
                    </b-col>
                    <b-col class="d-flex">
                        <f-set v-model="forms.main.values.attention" :data="forms.main.fields.attention"/>
                        <f-set cssClass="ml-3" v-model="forms.main.values.approved" :data="forms.main.fields.approved"/>
                    </b-col>
                </b-row>
                <b-row class="mt-5 pl-3">
                    <h5>Imported transactions matching rules below will be assigned selected category </h5>
                </b-row>
                <b-row class="mt-3">
                    <b-col cols="3" class="card ml-3 pt-4 pb-5">
                        <f-set v-model="forms.main.values.description.match_type" :data="fields.description_match_type"/>
                        <f-set v-model="forms.main.values.description.string" :data="fields.description_string" cssClass="mt-3 flex-grow-1"/>
                    </b-col>
                    <b-col cols="3" class="card ml-4  pb-5 d-flex flex-column justify-content-center">
                        <div class="d-flex">
                            <f-set v-model="forms.main.values.amount.min" :data="fields.amount_min"/>
                            <div class="mt-25 ml-2"> to </div>
                            <div class="mt-25 ml-2">
                                <f-set v-model="forms.main.values.amount.max" :data="fields.amount_max"/>
                            </div>
                        </div>
                    </b-col>
                    <b-col cols="2" class="card ml-4 pb-5 d-flex flex-column justify-content-center">
                        <f-set v-model="forms.main.values.debit_credit" :data="forms.main.fields.debit_credit" cssClass="w-100"/>
                    </b-col>
                    <b-col cols="3" class="card ml-4 pb-5 d-flex flex-column justify-content-center">
                        <f-set v-model="forms.main.values.dates_range" :data="forms.main.fields.dates_range" cssClass="w-100"/>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </form>
</div>    
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'
import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [form,panel,fieldBuilder],
    data() {
        return {
            pageTitle: 'Transactions Import Rules',
            formUri: '/trans-import-rules',
            formId: 'trans-import-rulesForm',
            fields: {
                description_match_type: this.makeField({ name: 'description_match_type', label: 'Description Match Type', type: 'toggle', options: {'starts_with': 'Starts With' , 'contains': 'Contains', 'ends_with': 'Ends With'}}),
                description_string: this.makeField({ name: 'description_string', label: 'Description Match' }),
                amount_min: this.makeField({ name: 'amount_min', type: 'number', mask: '$', label: 'Amount' }),
                amount_max: this.makeField({ name: 'amount_max', type: 'number', mask: '$', label: '' })
            },
        }
    },
    methods: {
        resetFormValues() {
            for (var field in this.forms.main.fields) {
                if (this.forms.main.values.hasOwnProperty(field)) {
                    this.forms.main.values[field] = this.forms.main.fields[field].dValue;
                    if (this.forms.main.fields[field].type == 'select') {
                        this.forms.main.values.transactions_categories_id = {}
                        setTimeout(() => this.forms.main.values.transactions_categories_id = null, 100)
                    }
                }
            }
            this.forms.main.values.description.match_type = ''
            this.forms.main.values.description.string = ''
            this.forms.main.values.amount.min = ''
            this.forms.main.values.amount.max = ''
            this.hash = '';
        }
    }
}
</script>