<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex justify-content-between">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div>
                <b-button variant="outline-primary" @click="tableAeItem(mainTableRef)"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"></span></b-button>
                <b-button variant="outline-primary" @click="tableRefresh(mainTableRef)"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"></span></b-button>
            </div>
        </b-row>
    </b-container>

    <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import { mapGetters } from 'vuex';

export default {
    mixins: [ table, formatting ],
    data() {
        return {
            pageTitle: 'Transaction Import Rules',
            pageClass: 'transImportRules-index',
            mainTableRef: 'transImportRulesIndex',
            vTablesConfigs: {
                transImportRulesIndex: this.makeTable({
                    url: '/trans-import-rules',
                    ref: 'transImportRulesIndex',
                    formComponentName: 'trans-import-rulesForm',
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: 'name', title: 'Rule', softField: 'name' },
                        { name: 'description', title: 'Description', softField: 'description', callback: this.showDescription, sortable: false },
                        { name: 'category', db: 'transactions_categories.name', title: 'Category', softField: 'category' },          
                        { name: 'amount', title: 'Amount', softField: 'amount', callback: this.showAmount, sortable: false },
                        { name: 'dates_range', title: 'Dates', softField: 'dates_range', callback: this.datesRange, sortable: false },              
                        { name: 'attention', title: 'Attention', softField: 'attention', dataClass: 'text-center', width: '100px', callback: function(val) {
                            return val ? '<i class="fal fa-exclamation-triangle"></i>' : ''
                        }},
                        { name: 'approved', title: 'Approved', softField: 'approved', dataClass: 'text-center', width: '100px', callback: this.YesNoCheck },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'transaction_import_rules.created_at', direction: 'desc' }],
                })
            }
        }
    },
    methods: {
        showAmount(val) {
            var json = JSON.parse(val)
            var min = json.min ? ' Min: ' + this.priceFormat(json.min) : ''
            var max = json.max ? ' Max: ' + this.priceFormat(json.max) : ''
            if (min || max) {
                return min + max;
            }
            return '-';
        },
        showDescription(val) {
            var json = JSON.parse(val)
            var type = json.match_type ? json.match_type : ''
            var term = json.string ? json.string : ''
            if (type && term) {
                return this.capitalize(type) + ": '" + term + "'"
            }
            return '-';
        },
        datesRange(val) {
            var json = JSON.parse(val)
            var start = json.start ? ' From: ' + this.dateFormat(json.start) : ''
            var end = json.end ? ' To: ' + this.dateFormat(json.end) : ''
            if (start || end) {
                return start + end;
            }
            return '-';
        }
    }
}
</script>