<template>
<div>
    <f-set ref="selectField" :value="value" @input="saveChange" :data="fieldData"/>
</div>
</template>

<script>

import fieldBuilder from '@/mixins/fieldBuilder'
import { mixin as clickaway } from 'vue-clickaway';

export default {
    mixins: [ fieldBuilder, clickaway ],
    props: ['rowData'],
    data() {
        return {
            value:      this.rowData.chart_color,
            fieldData:  this.makeField({ type: 'color', name: 'color', label: false }),
        } 
    },
    watch: {
        rowDataChanged() { 
            this.value    = this.rowData.chart_color;
        }
    },
    computed: {
        rowDataChanged() {
            return this.rowData;
        }
    },
    methods: {
        saveChange(val) {
            axios.post('/d/trans-categories/update_color',{
                hash: this.rowData.hash,
                chart_color: val
            })
            .then((res) => {
                this.$utils.c_notify(res.data.res, res.data.status);
            })
        }
    }
}
</script>