<template>
    <div> {{ capitalize(rowData.type) }} {{ capitalize(rowData.expense_category) }} </div>
</template>

<script>
import formatting from '@/mixins/formatting'

export default {
    mixins: [formatting],
    props: ['rowData']
}
</script>