<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex justify-content-between">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div>
                <b-button variant="outline-primary" @click="tableAeItem(mainTableRef)"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"> Add</span></b-button>
                <b-button variant="outline-primary" @click="tableRefresh(mainTableRef)"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"> Refresh</span></b-button>
            </div>
        </b-row>
    </b-container>

    <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import chartColor from './components/chartColor'
import Vue from "vue";
import VTType from './components/VTType'
Vue.component('vt-type',VTType)
Vue.component('chart-color',chartColor)

export default {
    components: {
        'chart-color': chartColor
    },
    mixins: [ table, formatting ],
    data() {
        return {
            pageTitle: 'Transaction Categories',
            pageClass: 'transcats-index',
            mainTableRef: 'transcatsIndex',
            vTablesConfigs: {
                transcatsIndex: this.makeTable({
                    url: '/trans-categories',
                    ref: 'transcatsIndex',
                    formComponentName: 'transCatsForm',
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: 'chart_color', visible: false, searchable: false },
                        { name: 'expense_category', visible: false, searchable: false },
                        { name: 'type', visible: false },
                        { name: 'name', title: 'Category', width: '250px', sortField: 'name' },
                        { name: '__component:vt-type', title: 'Type', noSelect: true, searchable: false, width: '150px', },
                        { name: 'use_type', title: 'Use', sortField: 'use_type', canToggle: true, searchable: false, callback: this.capitalize },
                        { name: '__component:chart-color', dataClass: 'pt-1 pb-1 align-top', title: 'Color', width: '50px', noSelect: true, searchable: false  },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'expense_category', direction: 'asc' }],
                })
            }
        }
    },
    methods: {
        catType(val) {
            var cat_types = {
                'expense' : 'Expense',
                'income' : 'Income',
                'other'	 : 'Other'
            }
            return cat_types[val]
        }
    }
}
</script>

<style>
</style>
