<template>
<div :class="wrapperClasses" class="onComponentLoad component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap d-flex">
            <div class="flex-grow-1">
                {{ addEditWord }} {{ pageTitle }}
            </div>
            <div class="panel-btns">
                <btn type="submit" variant="outline-success" title="Save"><i class="fal fa-save"></i></btn>
                <btn variant="outline-success" @click="saveForm(true)" title="Save &amp; Close"><i class="fal fa-share-square"></i></btn>
                <btn variant="outline-success" @click="saveForm(false,'resetFormValues')" title="Save &amp; Add New"><i class="fal fa-layer-plus"></i></btn>
                <btn variant="outline-primary" @click="closePanel" title="Close"><i class="fal fa-times"></i></btn>
            </div>
        </div>
        
        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <b-container v-if='formReady'>
                <b-row>
                    <b-col>
                        <f-set v-model="forms.main.values.name" :data="forms.main.fields.name"/>
                    </b-col>
                    <b-col>
                        <f-set v-model="forms.main.values.type" :data="forms.main.fields.type"/>
                    </b-col>
                    <b-col>
                        <f-set v-model="forms.main.values.use_type" :data="forms.main.fields.use_type"/>
                    </b-col>
                    <b-col>
                        <div v-show="forms.main.values.type == 'expense'">
                            <f-set v-model="forms.main.values.expense_category" :data="forms.main.fields.expense_category"/>
                        </div>
                    </b-col>
                    
                </b-row>
            </b-container>
        </div>
    </form>
</div>    
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'

export default {
    mixins: [form,panel],
    data() {
        return {
            pageTitle: 'Transaction Category',
            formUri: '/trans-categories',
            formId: 'transCatsForm'
        }
    },
    watch: {
        'forms.main.values.type': function(val,oldval) {
            if (val != 'expenses' && typeof oldval !== 'undefined') {
                this.forms.main.values.expense_category = ''
            }
        }
    }
}
</script>