<?php
<template>
<div :class="wrapperClasses" class="onComponentLoad component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap d-flex">
            <div class="flex-grow-1">
                {{ addEditWord }} {{ pageTitle }}
            </div>
            <div class="panel-btns">
                <btn type="submit" variant="outline-success" title="Save"><i class="fal fa-save"></i></btn>
                <btn variant="outline-success" @click="saveForm(true)" title="Save &amp; Close"><i class="fal fa-share-square"></i></btn>
                <btn variant="outline-success" @click="saveForm(false,'resetFormValues')" title="Save &amp; Add New"><i class="fal fa-layer-plus"></i></btn>
                <btn variant="outline-primary" @click="closePanel" title="Close"><i class="fal fa-times"></i></btn>
            </div>
        </div>
        
        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <b-container v-if='formReady'>
                <b-row>
                    <b-col cols="8">
                        <div class="card mb-4">
                            <div class="d-flex mb-4">
                                <f-set cssClass="w-150-px pr-2" v-model="forms.main.values.gender" :data="forms.main.fields.gender"/>
                                <f-set cssClass="flex-grow-1 pr-2" v-model="forms.main.values.first_name" :data="forms.main.fields.first_name"/>
                                <f-set cssClass="flex-grow-1 pr-2" v-model="forms.main.values.last_name" :data="forms.main.fields.last_name"/>
                                <f-set cssClass="flex-grow-1 pr-2" v-model="forms.main.values.middle_name" :data="forms.main.fields.middle_name"/>
                                <f-set class="flex-grow-1" v-model="forms.main.values.birthday" :data="forms.main.fields.birthday"/>
                            </div>
                            <f-address v-model="forms.main.values.address" />
                        </div>
                        <div class="card mb-3">
                            <div class="card-title">Notes</div>
                            <f-noteslist 
                                ref="notesField" 
                                v-model="forms.main.values.notes"
                                :hash="hash"
                                slug="contact"  
                                name="notes" 
                            />
                        </div>
                    </b-col>
                    <b-col>
                        <div class="card">
                            <f-email v-model="forms.main.values.email" cssClass="mb-4"  />
                            <f-phone v-model="forms.main.values.phone" cssClass="mb-4"  />
                            <f-phone v-model="forms.main.values.fax" label="Fax" phoneType="fax" :hideExt="true" />
                        </div>

                        <div v-if="contact_history.show_history" class="card mt-4">

                            <div v-show="history_loader" class="chart-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>

                            <div class="card-title">Contact History</div>
                            <div v-if="contact_history.addresses.length" class="pb-1">
                                <div class="bold pb-1">Address Changes:</div>
                                <div class="d-flex ml-2 mb-1" v-for="(item,key) in contact_history.addresses" :key="key">
                                    <div><i class="fal fa-times pointer text-danger pr-2" @click="deleteHistory(item.hash)"></i></div>
                                    <div class="flex-grow-1">{{ capitalize(item.type) }} {{ item.full_address }} </div>
                                    <div class="w-100-px text-right">{{ dateFormat(item.created_at) }}</div>
                                </div>
                            </div>
                            
                            <div v-if="contact_history.numbers.length" class="pb-1">
                                <div class="bold pb-1">Phone/Fax Number Changes:</div>
                                 <div class="d-flex ml-2 mb-1" v-for="(item,key) in contact_history.numbers" :key="key">
                                    <div><i class="fal fa-times pointer text-danger pr-2" @click="deleteHistory(item.hash)"></i></div>
                                    <div class="flex-grow-1">{{ capitalize(item.type) }} {{ phoneFormat(item.number) }} <span v-if="item.ext">x{{ item.ext }}</span></div>
                                    <div class="w-100-px text-right">{{ dateFormat(item.created_at) }}</div>
                                </div>
                            </div>

                            <div v-if="contact_history.emails.length" class="pb-1">
                                <div class="bold pb-1">Email Changes:</div>
                                <div class="d-flex ml-2 mb-1" v-for="(item,key) in contact_history.emails" :key="key">
                                    <div><i class="fal fa-times pointer text-danger pr-2" @click="deleteHistory(item.hash)"></i></div>
                                    <div class="flex-grow-1">{{ capitalize(item.type) }} {{ item.email }} </div>
                                    <div class="w-100-px text-right">{{ dateFormat(item.created_at) }}</div>
                                </div>
                            </div>

                        </div>
                    </b-col>
                </b-row>
                
            </b-container>
        </div>
    </form>
</div>    
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'
import formatting from '@/mixins/formatting'
import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [form,panel,fieldBuilder,formatting],
    data() {
        return {
            pageTitle: 'Contact',
            formUri: '/contacts',
            formId: 'contactsForm',
            afterSaveFunction: 'afterSave',
            history_loader: false,
            clearNotes: false,
            contact_history: {
                show_history: false,
                numbers: [],
                addresses: [],
                emails: []
            }
        }
    },
    methods: {
        afterSave(res,closeOnSave) {

            this.history_loader = true;

            this.forms.main.values.address.hash = res.address_hash
            this.forms.main.values.email.hash = res.email_hash
            this.forms.main.values.phone.hash = res.phone_hash
            this.forms.main.values.fax.hash = res.fax_hash

            this.loadContactHistory();

            this.$refs.notesField.load();
            this.forms.main.values.notes = '';

            if (closeOnSave) this.closePanel();

        },
        loadContactHistory() {
            axios({
                url: '/d/contacts/getContactHistory',
                method: 'get',
                params: { hash: this.hash }
            })
            .then((res) => {
                if (res.data) this.contact_history = res.data;
                this.history_loader = false;
            })
        },
        deleteHistory(itemHash) {

            this.$utils.swalConfirm.fire({
                title: "Delete Item?",
                text: '',
                showCancelButton: true,
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {

                    this.history_loader = true;

                    axios.post( '/d/adjacent/delete', { hash: itemHash } )
                    .then((res) => {
                        this.$utils.c_notify(res.data.res, res.data.status);
                        this.loadContactHistory()
                    })
                }
            })
            
        }
    },
    mounted() {
        if (this.isExistingForm) this.loadContactHistory();        
    }
}
</script>