<template>
    <div class="pl-4 pt-3">
        <div class="d-flex">
            <div style="flex-grow:1">{{ item_structure.text }}</div>
            <div class="w-150-px">
                <f-set :value="dd_value" @input="setValue" :data="fieldData"/>
            </div>
        </div>
        <tree-el @permission-changed="permissionChanged" v-for="(item,key) in item_structure.children" :key="item.id" :item_structure="item" :values="values" />
    </div>
</template>

<script>

import fieldBuilder from '@/mixins/fieldBuilder';

export default {
    mixins: [ fieldBuilder ],
    name: 'tree-el',
    props: ['item_structure','values'],
    data() {
        return {
            fieldData: this.makeField({ name: 'select-option', type: 'select', options: this.item_structure.access_options, allow_clear: false }),
            dd_value: ''
        }
    },
    methods: {
        setValue(val) {
            this.dd_value = val
            this.$emit('permission-changed', { sections_id: this.item_structure.id, value: val } )
        },
        permissionChanged(val) {
            this.$emit('permission-changed', val )
        },
        setDefaultValue() {
            if (this.item_structure.access_options.hasOwnProperty('full')) {
                this.setValue('full')
            } else if (this.item_structure.access_options.hasOwnProperty('view')) {
                this.setValue('view')
            } else if (this.item_structure.access_options.hasOwnProperty('none')) {
                this.setValue('none')
            }
        }
    },
    mounted() {
        if (this.values.length) {
            var arr = this.values.filter( (item) => item.sections_id == this.item_structure.id )
            if (arr.length) {
                this.setValue(arr[0].permission)
                return
            } 
        }
        this.setDefaultValue();       
  
    }
}
</script>