<template>
<div :class="wrapperClasses" class="onComponentLoad component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap d-flex">
            <div class="flex-grow-1">
                {{ addEditWord }} {{ pageTitle }}
            </div>
            <div class="panel-btns">
                <btn type="submit" variant="outline-success" title="Save"><i class="fal fa-save"></i></btn>
                <btn variant="outline-success" @click="saveForm(true)" title="Save &amp; Close"><i class="fal fa-share-square"></i></btn>
                <btn variant="outline-success" @click="saveForm(false,'resetFormValues')" title="Save &amp; Add New"><i class="fal fa-layer-plus"></i></btn>
                <btn variant="outline-primary" @click="closePanel" title="Close"><i class="fal fa-times"></i></btn> 
            </div>
        </div>
        
        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <b-container v-if='formReady'>
                <b-row>
                    <b-col cols="8">
                        <div class="card">
                            <b-row class="mb-3">
                                <b-col>
                                    <f-set v-model="forms.main.values.date" :data="forms.main.fields.date"/>
                                </b-col>
                                <b-col>
                                    <f-set v-model="forms.main.values.debit" :data="forms.main.fields.debit"/>
                                </b-col>
                                <b-col>
                                    <f-set v-model="forms.main.values.credit" :data="forms.main.fields.credit"/>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <f-set v-model="forms.main.values.description" :data="forms.main.fields.description"/>
                                </b-col>
                                <b-col>
                                    <f-set v-model="forms.main.values.account" :data="forms.main.fields.account"/>
                                </b-col>
                                <b-col>
                                    <f-set v-model="forms.main.values.transactions_categories_id" :data="forms.main.fields.transactions_categories_id"/>
                                </b-col>
                            </b-row>
                        </div>
                    </b-col>
                    <b-col cols="4">
                        <div class="card">
                            <b-row class="mb-3">
                                <b-col><f-set v-model="forms.main.values.use_type" :data="forms.main.fields.use_type"/></b-col>
                                <b-col><f-set v-model="forms.main.values.receipt" :data="forms.main.fields.receipt"/></b-col>
                            </b-row>
                            <b-row class="mb-3">
                                <b-col><f-set v-model="forms.main.values.approved" :data="forms.main.fields.approved"/></b-col>
                                <b-col><f-set v-model="forms.main.values.attention" :data="forms.main.fields.attention"/></b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <f-set v-model="forms.main.values.notes" :data="forms.main.fields.notes"/>
                                </b-col>
                            </b-row>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </form>
</div>    
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'

export default {
    mixins: [form,panel],
    watch: {
        'forms.main.values.debit': function(val) {
            this.credit_debit_clearance('credit')
        },
        'forms.main.values.credit': function(val) {
            this.credit_debit_clearance('debit')
        },
    },
    methods: {
        credit_debit_clearance(field_to_clear) {
            if (this.forms.main.values.credit > 0 && this.forms.main.values.debit > 0 ) {
                this.forms.main.values[field_to_clear] = null
            }
        }
    },
    data() {
        return {
            pageTitle: 'Transactions',
            formUri: '/transactions',
            formId: 'transactionsForm'
        }
    }
}
</script>