<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div class="flex-grow-1 pt-1 text-center">
                <span class="badge badge-secondary mr-2">Debit: {{ priceFormat(mainTable.resExtraData.debit) }}</span>
                <span class="badge badge-success mr-2">Credit: {{ priceFormat(mainTable.resExtraData.credit) }}</span>
                <span class="badge badge-primary mr-2" :class="{ 'badge-primary': c_balance >= 0, 'badge-danger': c_balance < 0 }">Balance: {{ priceFormat(c_balance) }}</span>
            </div>

            <!-- BUTTONS -->
            <div class="text-right" style="width:400px">
                
                <btn v-if="checkboxesChecked.length" variant="outline-primary" @click="selectedDelete"><i class="fal fa-trash"></i><span class="d-none d-sm-inline"></span></btn>
                <btn v-if="checkboxesChecked.length" variant="outline-primary" @click="selectedApprove"><i class="fal fa-check"></i><span class="d-none d-sm-inline"></span></btn>
                <btn variant="outline-primary" @click="importForm" title="Import Transactions"><i class="fal fa-upload"></i><span class="d-none d-sm-inline"></span></btn>
                <!-- COLUMN FILTERS -->
                <dropdown-menu class="d-inline" v-model="columnVisDD" :right="true" :interactive="true">
                       <btn variant="outline-primary" :loading="loading" title="Show/Hide Columns"><i class="fal fa-columns"></i><span class="d-none d-sm-inline"></span></btn>
                        <div class="dd-menu" slot="dropdown">
                            <ul>
                                <li v-for="(item,key) in togglableCols(mainTableRef)" class="p-2 pl-3 text-nowrap pointer" @click="toggleColumn(mainTableRef,item.name)" :key="key">
                                    <input type="checkbox" :checked="vTablesConfigs[mainTableRef].cols.find(o => o.name == item.name).visible"> 
                                    <span v-html="item.title" class="d-inline"></span>
                                </li>
                            </ul>
                        </div>
                    </dropdown-menu>
                </li>
                <!-- <btn variant="outline-primary" @click="showHideFilters(mainTableRef)" title="Show/Hide Filters"><i class="fal fa-filter"></i></btn> -->
                <btn variant="outline-primary" @click="tableAeItem(mainTableRef)" title="Add Transaction"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"></span></btn>
                <btn variant="outline-primary" @click="tableRefresh(mainTableRef)" title="Refresh Table"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"></span></btn>
            </div>
        </b-row>

        <!-- FILTERS -->
        <SmoothReflow>
            <b-row v-if="vTablesConfigs.transactionsIndex.showFilters" class="mb-3 card flex-row">
                <b-col cols="2"><f-set v-model="vTablesConfigs.transactionsIndex.filters['transactions.use_type']" :data="filtersFields.use_type"/></b-col>
                <b-col cols="2"><f-set v-model="vTablesConfigs.transactionsIndex.filters.account" :data="filtersFields.account"/></b-col>
                <b-col cols="2"><f-set v-model="vTablesConfigs.transactionsIndex.filters.date_range" :data="filtersFields.date_range"/></b-col>
                <b-col cols="1"><f-set v-model="vTablesConfigs.transactionsIndex.filters.import_batch_number" :data="filtersFields.import_batch_number"/></b-col>
                <b-col class="d-flex" cols="2">
                    <f-set v-model="vTablesConfigs.transactionsIndex.filters.amount_min" :data="filtersFields.amount_min"/>
                    <div class="mt-25 ml-2">to</div>
                    <f-set cssClass="mt-25 ml-2" v-model="vTablesConfigs.transactionsIndex.filters.amount_max" :data="filtersFields.amount_max"/>
                </b-col>
                <b-col>
                    <f-set v-model="vTablesConfigs.transactionsIndex.filters.attention" :data="filtersFields.attention"/>
                </b-col>
                <b-col>
                    <f-set v-model="vTablesConfigs.transactionsIndex.filters.no_category" :data="filtersFields.no_category"/>
                </b-col>
                <b-col class="pt-25 text-center">
                    <btn variant="outline-primary" @click="clearFilters">Clear</btn>
                </b-col>
            </b-row>
        </SmoothReflow>
    </b-container>

    <my-vuetable :ref="mainTableRef" @checkbox-toggled="checkboxToggled" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import Vue from 'vue'
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import { mapGetters } from 'vuex';
import listCategory from './components/listCategory'
import listNotes from './components/listNotes'
import listApprove from './components/listApprove'
import listAttention from './components/listAttention'
import listFile from './components/listFile'
import fieldBuilder from '@/mixins/fieldBuilder'

Vue.component('list-trans-category',listCategory)
Vue.component('list-trans-notes',listNotes)
Vue.component('list-trans-approve',listApprove)
Vue.component('list-trans-attention',listAttention)
Vue.component('list-trans-file',listFile)




export default {
    mixins: [ table, formatting, fieldBuilder ],
    data() {
        return {
            pageTitle: 'Transactions',
            pageClass: 'transactions-index',
            mainTableRef: 'transactionsIndex',
            columnVisDD: false,
            filtersFields: {
                use_type:  this.makeField({ name: 'use_type', type: 'toggle', label: false, options: { 'personal': 'Personal', 'business': 'Business'} }),
                account: this.makeField({ name: 'account', label: 'Account', type: 'select', ajax: '/d/accounts/list'}),
                date_range: this.makeField({ name: 'date_range', type: 'daterange', label: 'Dates' }),
                import_batch_number: this.makeField({ name: 'batch', label: 'Import Batch #' }),
                amount_min: this.makeField({ name: 'amount_min', label: 'Amount', type: 'number', mask: '$' }),
                amount_max: this.makeField({ name: 'amount_max', label: false, type: 'number', mask: '$' }),
                attention: this.makeField({ name: 'attention', label: false, cssClass:' mt-25', type: 'echeck', placeholder: 'Attn' }),
                no_category: this.makeField({ name: 'no_category', label: false,  cssClass:' mt-25',type: 'echeck', placeholder: 'No Cat.' }),
            },
            dateVisibility: true,
            vTablesConfigs: {
                transactionsIndex: this.makeTable({
                    url: '/transactions',
                    ref: 'transactionsIndex',
                    formComponentName: 'transactionsForm',
                    showFilters: true,
                    onRowClass: function(dataItem, index) {
                        return dataItem.attention == 1 ? 'bg-warning' : '';
                    },
                    filters: {
                        'transactions.use_type': '',
                        account: null,
                        date_range: '',
                        import_batch_number: '',
                        amount_min: '',
                        amount_max: '',
                        attention: null,
                        no_category: null
                    },
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: 'id', db: 'transactions.hash', visible: false, searchable: false },
                        { name: 'transactions_categories_id', visible: false, searchable: false },
                        { name: 'transactions_categories_name', db: 'transactions_categories.name', visible: false, searchable: false },
                        { name: 'notes', visible: false },
                        { name: 'approved', visible: false, searchable: false },
                        { name: 'attention', visible: false, searchable: false },

                        { name: '__checkbox', titleClass: 'center aligned w-25-px', dataClass: 'center aligned', noSelect: true, searchable: false },
                        { name: 'import_batch_number', title: 'B.#', sortField: 'import_batch_number', width: '30px', canToggle: true, visible: false, searchable: false },
                        { name: 'use_type', title: 'Use', sortField: 'use_type', width: '70px', canToggle: true, visible: false, searchable: false, callback: this.capitalize },
                        { name: 'date', title: 'Date', sortField: 'date', titleClass: 'w-125-px', canToggle: true, callback:this.dateFormat, visible: true },
                        { name: 'account', db: 'accounts.name', title: 'Account', titleClass: 'w-150-px', sortField: 'account', canToggle: true, visible: true },
                        { name: 'description', title: 'Description', sortField: 'description', titleClass: 'w-225-px', canToggle: true, visible: true },
                        { name: 'debit', title: 'Debit (Withdraw)', sortField: 'debit', titleClass: 'w-125-px', canToggle: true, callback: this.priceFormatNoZero, visible: false },
                        { name: 'credit', title: 'Credit (Deposit)', sortField: 'credit', titleClass: 'w-125-px', canToggle: true, callback: this.priceFormatNoZero, visible: false },
                        { name: 'amount', title: 'Amount', sortField: 'amount', titleClass: 'w-125-px', canToggle: true, callback: this.priceFormatNoZero, visible: true,  noSelect: true, searchable: false },
                        { name: '__component:list-trans-category', title: 'Category', width: '175px', dataClass: 'p-0', canToggle: true, noSelect: true, searchable: false, visible: true  },
                        { name: '__component:list-trans-notes', title: 'Notes', sortField: 'notes', dataClass: 'p-0 pr-2 align-top',  noSelect: true, searchable: false, visible: true },
                        { name: '__component:list-trans-file', title: 'Receipt', width: '200px', dataClass: 'p-0 pr-2', visible: true, canToggle: true, noSelect: true,  searchable: false },
                        { name: '__component:list-trans-approve', title: 'A', titleClass: 'w-25-px pl-2', sortField: 'approved', canToggle: true, dataClass: 'p-0 pt-1 align-middle', noSelect: true, searchable: false, visible: true  },
                        { name: '__component:list-trans-attention', title: '<i class="fal fa-exclamation"></i>', titleClass: 'w-25-px pl-3', sortField: 'attention', canToggle: true, dataClass: 'p-0 pt-1 align-middle', noSelect: true, searchable: false, visible: true  },
                        { name: '__component:table-action-btns', title: '', width: '100px', dataClass: 'p-0 pr-2 pb-2', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'date', direction: 'desc' }],
                    perPage: 30,
                    resExtraData: {
                        debit: 0,
                        credit: 0
                    }
                })
            }
        }
    },
    computed: {
        c_balance() {
            var resExtraData = this.mainTable.resExtraData
            return resExtraData.credit - resExtraData.debit;
        },
        checkboxesChecked() {
            return this.mainTable.checkboxes;
        }
    },
    methods: {
        importForm() {
            this.openForm('transImportForm', {
                parent: { type: 'table', ref:this.mainTableRef }
            })
        },
        selectedDelete() {            
            this.$utils.swalConfirm.fire({
                title: "Delete " + this.checkboxesChecked.length + " transactions?",
                text: '',
                showCancelButton: true,
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.value) {
                    this.loading = true;
                    axios.post( '/d/transactions/bulk_delete', { hashes: this.checkboxesChecked } )
                    .then((res) => {
                        this.tableRefresh(this.mainTableRef)
                        this.$utils.c_notify(res.data.res, res.data.status);
                    })
                }
            })
        },
        selectedApprove() {
            this.loading = true;
            axios.post( '/d/transactions/bulk_approve', { hashes: this.checkboxesChecked } )
            .then((res) => {
                this.tableRefresh(this.mainTableRef)
                this.$utils.c_notify(res.data.res, res.data.status);
            })
        },
        clearFilters() {
            this.vTablesConfigs.transactionsIndex.filters['transactions.use_type'] = null;
            this.vTablesConfigs.transactionsIndex.filters.account = '';
            this.vTablesConfigs.transactionsIndex.filters.date_range = '';
            this.vTablesConfigs.transactionsIndex.filters.amount_min = '';
            this.vTablesConfigs.transactionsIndex.filters.amount_max = '';
            this.vTablesConfigs.transactionsIndex.filters.import_batch_number = '';
            // this.tableRefresh(this.mainTableRef);
        }
    }
}
</script>

<style>
</style>
