<template>
<div :class="wrapperClasses" class="onComponentLoad component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap d-flex">
            <div class="flex-grow-1">
                {{ addEditWord }} {{ pageTitle }}
            </div>
            <div class="panel-btns">
                <btn variant="outline-primary" @click="closePanel"><i class="fal fa-times"></i><span class="d-none d-sm-inline"> Cancel</span></btn>
            </div>
        </div>
        
        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <SmoothReflow>
                <b-container v-show="current_step == 'step_1'">
                    <b-row>
                        <b-col cols="2"></b-col>
                        <b-col cols="3">
                            <f-set v-model="forms.main.values.file" :data="forms.main.fields.file"/>
                        </b-col>
                        <b-col cols="3">
                            <f-set v-model="forms.main.values.account" :data="forms.main.fields.account"/>
                        </b-col>
                        <b-col v-show="forms.main.values.file.length && forms.main.values.account.length">
                            <btn type="submit" variant="outline-success" class="mt-25" ><i class="fal fa-upload"></i><span class="d-none d-sm-inline"> Upload</span></btn>
                        </b-col>
                    </b-row>
                </b-container>
            </SmoothReflow>

            <SmoothReflow>
                <b-container v-show="current_step == 'final_step'">
                    <b-row>
                        <b-col class="text-center mb-4">
                            <btn variant="outline-primary" @click="backToStep1" class="mr-2" ><i class="fal fa-chevron-left"></i> Step 1</span></btn>
                            <btn @click="saveForm(true)" variant="success" ><i class="fas fa-check"></i><span class="d-none d-sm-inline"> Comfirm Import</span></btn>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="2"></b-col>
                        <b-col cols="8">
                            <table border="1" cellpadding="3" cellspacing="0" class="preview">
                                <tr>
                                    <th>Batch #</th>
                                    <th>Account</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Category</th>
                                    <th>Approved</th>
                                    <th>Rules Applied</th>
                                </tr>
                                <tr v-for="(item,key) in tableData" :key="key" :class="{ 'bg-warning': item.attention }">
                                    <td>{{ item.import_batch_number }}</td>
                                    <td>{{ item.account_name }}</td>
                                    <td>{{ item.date_visual }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ priceFormatNoZero(item.debit) }}</td>
                                    <td>{{ priceFormatNoZero(item.credit) }}</td>
                                    <td>{{ item.category_name }}</td>
                                    <td v-html="approvedCheck(item.approved)"></td>
                                    <td>{{ item.rules.join(', ') }}</td>
                                </tr>
                            </table>
                        </b-col>
                    </b-row>
                </b-container>
            </SmoothReflow>
        </div>
    </form>
</div>    
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'
import formatting from '@/mixins/formatting'
import fieldBuilder from '@/mixins/fieldBuilder'

export default {
    mixins: [form,panel,fieldBuilder,formatting],
    data() {
        return {
            steps: ['step_1','final_step'],
            formUrls: ['/d/transactions/importStep1','/d/transactions/importFinalStep'],
            current_step: 'step_1',
            afterSaveFunction: 'step_1_done',
            tableData: [],
            forms: {
                main: {
                    values: {
                        file: '',
                        account: ''
                    },
                    fields: {
                        file: this.makeField({ name: 'import_file', label: 'CSV/Excel File', type: 'file', max_files: 1, required: true, allowed_ext: ['xls','csv','xlsx']}),
                        account: this.makeField({ name: 'account', label: 'Account', type: 'select', ajax: '/d/accounts/list', allow_clear:false, required: true})
                    }
                }
            },
            pageTitle: 'Import Transactions',
            formUri: '',
            formSaveUri: '/d/transactions/importStep1',
            formId: 'transImportForm'
        }
    },
    watch: {
        current_step(val) {
            this.afterSaveFunction = val == 'step_1' ? 'step_1_done' : false;
        }
    },
    methods: {
        step_1_done(data) {
            this.tableData = data.data;
            this.current_step = this.steps[1];
            this.formSaveUri = this.formUrls[1];
        },
        backToStep1() {
            this.current_step = this.steps[0];
            this.formSaveUri = this.formUrls[0]
        },
        approvedCheck(status) {
            return status ? '<i class="fal fa-check-double"></i>' : '';
        }
    }
}
</script>

<style scoped>
table.preview {
    width: 100%;
    border: 1px solid #ccc;
}
table.preview th,
table.preview td {
    padding-left: 10px;
}
</style>