<template>
<div :class="pageClass" class="onComponentLoad">
    
    <div class="panel-title-wrap">{{ pageTitle }}</div>

    <b-container>
        <b-row class="mb-3 d-flex justify-content-between">
            <div>
                <table-search :tableRef="mainTableRef"></table-search>
            </div>

            <div class="panel-btns">
                <btn variant="outline-primary" @click="tableAeItem(mainTableRef)" title="Add Transaction"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"></span></btn>
                <btn variant="outline-primary" @click="tableRefresh(mainTableRef)" title="Refresh Table"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"></span></btn>
            </div>
        </b-row>
    </b-container>

    <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" :tableConf="mainTable" />

    <router-view/>

</div>
</template>

<script>
import table from '@/mixins/table';
import formatting from '@/mixins/formatting';
import { mapGetters } from 'vuex';

export default {
    mixins: [ table, formatting ],
    data() {
        return {
            pageTitle: 'Accounts',
            pageClass: 'accounts-index',
            mainTableRef: 'accountsIndex',
            vTablesConfigs: {
                accountsIndex: this.makeTable({
                    url: '/accounts',
                    ref: 'accountsIndex',
                    formComponentName: 'accountsForm',
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: 'name', title: 'Name', sortField: 'name' },
                        { name: 'institution', title: 'Institution', sortField: 'institution' },
                        { name: 'number', title: 'Number', sortField: 'number' },
                        { name: 'type', title: 'Type', sortField: 'type', callback: this.displayType },
                        { name: 'use_type', title: 'Use', sortField: 'use_type', callback: this.displayUse },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'name', direction: 'asc' }],
                })
            }
        }
    },
    methods: {
        displayType(val) {
            var type = {
                'bank'			: 'Bank Account',
                'credit_line'	: 'Credit Line',
                'credit_card'	: 'Credit Card',
                'cash'			: 'Cash'
            }
            return type[val]
        },
        displayUse(val) {
            var use = {
                personal: 'Personal',
                business: 'Business'
            }
            return use[val]
        }
    }
}
</script>

<style>
</style>
